<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Spring Boot and Thymeleaf, part 3 - SPRING DATA JPA</h3>
        <p th:each="customer : ${customers}">
            <h4>ID:</h4>
            <div th:text="${customer.id}"></div>
            <h4>First:</h4>
            <div th:text="${customer.firstName}"></div>
            <h4>Last:</h4>
            <div th:text="${customer.lastName}"></div>
            <div>---------------------------------------------------------</div>
        </p>
    </body>
</html>